.detalhe {
  color: var(--cor-3);
  font-size: 4rem;
  font-weight: bold;
}
.botao {
  text-decoration: none;
  background: var(--cor-9);
  padding: 0.125rem 1.5rem;
  color: var(--cor-1);
  border-radius: 2rem;
  border: solid 1px var(--cor-1);
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin: 0;
  text-align: center;
  transition: all 0.3s;
}
.botao:hover {
  background: var(--cor-2);
  color: var(--cor-5);
  border: solid 1px var(--cor-6);
}

@media (max-width: 800px) {
  .botao {
    padding: 0.125rem 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    background-color: var(--cor-9);
    color: var(--cor-3);
    font-size: 0.75;
  }
}
