.header-bg {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.25rem;
}
.navegacao-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
}
.navegacao-menu a {
  padding: 0.5rem 0;
  display: inline-block;
  color: #302102;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
}

.header-img img {
  display: block;
  height: auto;
  max-width: 100%;
  border: solid 2px #f7f6f4;
  border-radius: 5rem;
}
.navegacao-menu a::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.1rem;
  width: 0rem;
  background-color: rgb(0, 119, 181);
  margin-top: 0.05rem;
}
.navegacao-menu a:hover {
  color: rgb(0, 119, 181);
}
.navegacao-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .header {
    padding: 1rem;
    justify-content: center;
  }
  .navegacao-menu {
    gap: 1rem;
  }
  .navegacao-menu a {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
  }
  .header-bg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 450px) {
  .header nav {
    display: none;
  }
  .header-img {
    display: none;
  }
  .header-bg {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
