.header-bg {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor-1);
  border-radius: 1rem;
}
.header {
  display: flex;
  flex-wrap: inherit;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  text-align: center;
}
.navegacao-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navegacao-menu a {
  padding: 0.5rem 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
  align-items: center;
}

.header-img img {
  display: block;
  width: 175px;
  height: auto;
  border: solid 2px var(--cor-1);
  border-radius: 100%;
  background: nome;
  object-fit: contain;
}
.navegacao-menu a::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.1rem;
  width: 0rem;
  background-color: var(--cor-5);
  margin-top: 0.05rem;
}
.navegacao-menu a:hover {
  color: var(--cor-5);
}
.navegacao-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .header {
    padding: 1rem;
    justify-content: center;
  }
  .navegacao-menu {
    display: none;
  }
  .header-bg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 450px) {
  .header nav {
    display: none;
  }

  .header-bg {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
