/*Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* remove margens padrão */
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

.introducao-bg {
  display: block;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.25rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor-2);
  border-radius: 1rem;
}
.navegacao-menu-classificacao li {
  list-style-type: none;
}
.navegacao-menu-classificacao a {
  display: inline-flex;
  color: var(--cor-7);
  line-height: 1.5rem;
  position: relative;
  text-decoration: none;
  gap: 0.5rem;
}
.navegacao-menu-classificacao a:hover {
  color: var(--cor-5);
}

.introducao-bg h2::before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 25rem;
  background-color: var(--cor-5);
  background: linear-gradient(
    to right,
    var(--cor-10),
    var(--cor-5),
    var(--cor-11)
  );
  margin-top: -2rem;
  border-radius: 10rem;
  margin-bottom: 2rem;
}
.container-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5rem;
}
.container-introducao-conteudo {
  grid-column: 1/3;
  place-self: start start;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.container-introducao-conteudo h1 {
  margin: 0;
  margin-bottom: 3.5rem;
  place-self: end start;
  max-width: 750px;
  text-align: left;
}
.container-introducao-conteudo p {
  text-align: end;
}
.container-introducao-conteudo div:last-child {
  margin-bottom: 2rem;
}

.container-introducao-navegacao h2 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 650px;
  text-align: left;
  margin: 0;
}
.container-introducao-navegacao {
  grid-column: 1/3;
  place-self: center start;
  margin-bottom: 1rem;
}
.container-introducao-img {
  position: absolute;
  grid-column: 2; /* segunda coluna */
  place-self: center end;
}
.container-introducao-img img {
  width: 500px; /* ajuste conforme precisar */
  height: auto;
  border-top-left-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover; /* mantém a proporção sem distorcer */
  display: block;
}
@media (max-width: 1300px) {
  .container-introducao {
    grid-template-columns: 1fr;
    place-self: center;
  }
  .container-introducao-img {
    display: none;
  }
}
@media (max-width: 800px) {
  .container-introducao-conteudo h1 {
    margin: 0;
    margin-bottom: 2.5rem;
    text-align: start;
  }
  .container-introducao-conteudo p {
    text-align: start;
  }
  .container-introducao-navegacao h2 {
    margin: 0;
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .container-introducao-navegacao li {
    text-align: start;
  }
  .introducao-bg h2::before {
    left: 2rem;
    max-width: 20rem;
  }
}
